body {
    background-color: #E9EAEC;
    color: #7D7098;
}

h1 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    font-family: Arial, Helvetica, sans-serif;
}